{:linters {:unused-namespace    {:level :warning}
           :unused-referred-var {:level :warning}
           :unused-binding      {:level :warning}
           :redundant-do        {:level :warning}
           :missing-docstring   {:level :off}}
 :output {:exclude-files ["^resources/" "^node_modules/" "^target/"]}}
